/vendor/
/node_modules/
/.env

/storage/*
!/storage/app/
!/storage/app/public/
!/storage/app/public/.gitignore
!/storage/framework/
!/storage/framework/cache/
!/storage/framework/cache/data/
!/storage/framework/sessions/
!/storage/framework/views/
!/storage/framework/testing/
!/storage/logs/
!/storage/logs/.gitignore

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/public/storage
/public/hot
/public/build

.phpunit.result.cache
/.idea/
/.vscode/
/.DS_Store
Thumbs.db